<!-- Copy Rights Footer -->
<div class="container-fluid jobtxt">
		<div class="row">
			<div class="col-md-6">
				<h5>Copy Right &copy; 2018 All rights reserved by LNR Rail Engg. (P) Ltd.</h5>
			</div>
			<div class="col-md-6 footertxt">
				  <ul class="list-inline">
				    <li><a class="footerlinktxt" href="http://www.rubular.com/">Privacy Policy    |</a></li>
				    <li><a class="footerlinktxt" href="http://www.google.com">FAQ    |</a></li>
				    <li><a class="footerlinktxt" href="http://www.facebook.com">Terms & Conditions</a></li>
				  </ul>
			</div>
		</div>
	</div>