.backbg{
    width:100%;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    /* padding: 60px; */
}
.headertxt{
    color:white;
    font-size: 100px;
    text-align: center;
    padding: 30px;
    text-decoration: underline;
}