<div class="container-fluid backbg well" style="background-image:url('assets/images/nature2.jpg');">
  <div class="row well">
      <div class="col-md-12 well">
          <p class="headertxt">India Tourism</p>
      </div>
  </div>
  <div class="row">
    <div class="col-md-4 well">
        <ul>
          <li><a href="#">Amaravathi</a></li>
          <li><a href="#">Amaravathi</a></li>
          <li><a href="#">Amaravathi</a></li>
          <li><a href="#">Amaravathi</a></li>
          <li><a href="#">Amaravathi</a></li>
        </ul>
    </div>
    <div class="col-md-4 well">
      <ul>
        <li><a href="#">Amaravathi</a></li>
        <li><a href="#">Amaravathi</a></li>
        <li><a href="#">Amaravathi</a></li>
        <li><a href="#">Amaravathi</a></li>
        <li><a href="#">Amaravathi</a></li>
      </ul>
  </div>
  <div class="col-md-4 well">
    <ul>
      <li><a href="#">Amaravathi</a></li>
      <li><a href="#">Amaravathi</a></li>
      <li><a href="#">Amaravathi</a></li>
      <li><a href="#">Amaravathi</a></li>
      <li><a href="#">Amaravathi</a></li>
    </ul>
</div>
  </div>
</div>