<div class="container-fluid backbg" style="background-image:url('assets/images/nature2.jpg');">
      <div class="row">
          <div class="col-md-12">
              <p class="headertxt">India Tourism</p>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <hr class="hrcls">
            <p class="parasubtxt">Tourist Places</p>
            <hr class="hrcls">
          </div>
      </div>
      <div class="row">
        <div class="col-md-3">
            <ul>
              <li><a href="#">Amaravathi</a></li>
              <li><a href="#">Amaravathi</a></li>
              <li><a href="#">Amaravathi</a></li>
              <li><a href="#">Amaravathi</a></li>
              <li><a href="#">Amaravathi</a></li>
            </ul>
        </div>
        <div class="col-md-3">
          <ul>
            <li><a href="#">Amaravathi</a></li>
            <li><a href="#">Amaravathi</a></li>
            <li><a href="#">Amaravathi</a></li>
            <li><a href="#">Amaravathi</a></li>
            <li><a href="#">Amaravathi</a></li>
          </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li><a href="#">Amaravathi</a></li>
          <li><a href="#">Amaravathi</a></li>
          <li><a href="#">Amaravathi</a></li>
          <li><a href="#">Amaravathi</a></li>
          <li><a href="#">Amaravathi</a></li>
        </ul>
    </div>
    <div class="col-md-3">
      <ul>
        <li><a href="#">Amaravathi</a></li>
        <li><a href="#">Amaravathi</a></li>
        <li><a href="#">Amaravathi</a></li>
        <li><a href="#">Amaravathi</a></li>
        <li><a href="#" data-toggle="modal" data-target="#myModal">Taj Mahal</a></li>
      </ul>
    </div>
    
  </div>
  
  
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Taj Mahal</h4>
            </div>
            <div class="modal-body">
              <img src="../assets/images/t5.png"  class="modalimg">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>

    <div class="row">
        <div class="col-md-12">
            <hr class="hrcls">
          <p class="parasubtxt">Hotel Locations</p>
          <hr class="hrcls">
        </div>
    </div>
   
    <div class="row">
      <div class="col-md-3">
          <ul>
            <li><a href="#">Amaravathi</a></li>
            <li><a href="#">Amaravathi</a></li>
            <li><a href="#">Amaravathi</a></li>
            <li><a href="#">Amaravathi</a></li>
            <li><a href="#">Amaravathi</a></li>
          </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li><a href="#">Amaravathi</a></li>
          <li><a href="#">Amaravathi</a></li>
          <li><a href="#">Amaravathi</a></li>
          <li><a href="#">Amaravathi</a></li>
          <li><a href="#">Amaravathi</a></li>
        </ul>
    </div>
    <div class="col-md-3">
      <ul>
        <li><a href="#">Amaravathi</a></li>
        <li><a href="#">Amaravathi</a></li>
        <li><a href="#">Amaravathi</a></li>
        <li><a href="#">Amaravathi</a></li>
        <li><a href="#">Amaravathi</a></li>
      </ul>
    </div>
    <div class="col-md-3">
    <ul>
      <li><a href="#">Amaravathi</a></li>
      <li><a href="#">Amaravathi</a></li>
      <li><a href="#">Amaravathi</a></li>
      <li><a href="#">Amaravathi</a></li>
      <li><a href="#">Amaravathi</a></li>
    </ul>
    </div>

    </div>
</div>