<!-- Site Links -->
<div class="container-fluid" style="background-color:black;">
		<div class="row" style="margin-top: 100px;">
			<div class="col-md-12">
				<div class="container">
					<div class="row">
						<div class="col-md-3 sitelinksbox">
							<ul>
								<li><a href="#">Accounts Department</a></li>
								<li><a href="#">Civil Engineering</a></li>
								<li><a href="#">Commercial/Marketing</a></li>
								<li><a href="#">Electrical Engineering</a></li>
								<li><a href="#">Mechanical Engineering</a></li>
								<li><a href="#">Medical & Health</a></li>
								<li><a href="#">Operating/Traffic</a></li>
								<li><a href="#">Personnel/HR</a></li>
								<li><a href="#">Public Relations</a></li>
								<li><a href="#">Signal&Tele Communications</a></li>
								<li><a href="#">Security</a></li>
							</ul>
						</div>
						<div class="col-md-3 sitelinksbox">
							<ul>
								<li><a href="#">Civil Engineering Departments</a></li>
								<li><a href="#">Signal & Telecom Department</a></li>
								<li><a href="#">Private Railway Sidings</a></li>
								<li><a href="#">Rail Infra Companies</a></li>
								<li><a href="#">Electrical Engineering</a></li>
								<li> </li>
								<li> </li>
								<li> </li>
								<li><a href="#">Rail Jobs in US</a></li>
								<li><a href="#">Rail Jobs in Canada</a></li>
								<li><a href="#"></a></li>
							</ul>
						</div>
						<div class="col-md-3 sitelinksbox">
							<ul>
								<li><a href="#">Training Facilities for Private</a></li>
								<li><a href="#">Railway Employees</a></li>
								<li><a href="#">Indian Railway Training Institutes</a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
							</ul>
						</div>
						<div class="col-md-3 sitelinksbox">
							<ul>
								<li><a href="#">Project Planning Consultancy</a></li>
								<li><a href="#">Pre Bid Consultancy</a></li>
								<li><a href="#">Project Management Consultancy</a></li>
								<li><a href="#">Procurement Assistance</a></li>
								<li><a href="#">Liasion</a></li>
								<li><a href="#">Solutions</a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Copy Rights Footer -->
	<div class="container-fluid jobtxt">
		<div class="row">
			<div class="col-md-6">
				<h5>Copy Right &copy; 2018 All rights reserved by LNR Rail Engg. (P) Ltd.</h5>
			</div>
			<div class="col-md-6 footertxt">
				  <ul class="list-inline">
				    <li><a class="footerlinktxt" href="http://www.rubular.com/">Privacy Policy    |</a></li>
				    <li><a class="footerlinktxt" href="http://www.google.com">FAQ    |</a></li>
				    <li><a class="footerlinktxt" href="http://www.facebook.com">Terms & Conditions</a></li>
				  </ul>
			</div>
		</div>
	</div>