<div class="container-fluid jobtxt">
		<div class="row">
			<div class="col-md-12">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="container">
								<div class="row">
									<div class="col-md-4">
										<p class="jobtxt">Departments <br>in Railway</p>
									</div>
									<div class="col-md-4">
										<p class="jobtxt">Railway Jobs <br>in India</p>
									</div>
									<div class="col-md-4">
										<p class="jobtxt">International <br>Rail Jobs</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
  
  <!-- Register Now -->
	<div class="container-fluid" style="background-color:black;">
      <div class="row">
        <div class="col-md-12">
          <div class="container text-center">
            <div class="row">
              <div class="col-md-12">
                <p class="genheadtext">Register Now</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row regmargin">
        <div class="col-md-12">
          <div class="container">
            <div class="row">
              <div class="col-md-3 regbox">
                <h2>Applicant</h2>
                <p>Minimum one year <br>experience in any Railway<br>Field or Certification from a<br>Railway Training Institue is<br>prerequisite for<br>registration</p>
                <button class="regbtnGen btnGenPos">Register</button>
              </div>
              <div class="col-md-3 regbox">
                <h2>Employer</h2>
                <p>Minimum one year<br>experience in any Railway<br>Field or Certification from a<br>Railway Training Institue is<br>prerequisite for<br>registration</p>
                <button class="regbtnGen btnGenPos">Register</button>
              </div>
              <div class="col-md-3 regbox">
                <h2>Consultancy</h2>
                <p>Minimum one year<br>experience in any Railway<br>Field or Certification from a<br>Railway Training Institue is<br>prerequisite for<br>registration</p>
                <button class="regbtnGen btnGenPos">Know More</button>
              </div>
              <div class="col-md-3 regbox">
                <h2>Training</h2>
                <p>Minimum one year<br>experience in any Railway<br>Field or Certification from a<br>Railway Training Institue is<br>prerequisite for<br>registration</p>
                <button class="regbtnGen btnGenPos">Know More</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- About Rail Jobs -->
<div class="container-fluid" style="background-color: white;">
		<div class="row">
			<div class="col-md-12">
				<div class="container text-center">
					<div class="row">
						<div class="col-md-12">
							<p class="genheadtext">About Rail Jobs</p>
							<p class="aboutheadpara">We help you to find a Job,to find a candidate,to find domestic & <br> International new rail projects & tenders</p>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="container">
					<div class="row">
						<div class="col-md-6 text-justify aboutmargins">
							<h2>Rail Jobs Information</h2>
							<p class="aboutsubpara">Rail Jobs Info is a recruitement specialist in railway industry for<br>finding suitable resources.</p>
							<p class="aboutsubpara">We will help you: to find a Job;to find a Candidate;to find Domestic And International New Rail Projects & Tenders.
							We will help you: to find a Job;to find a Candidate;to find Domestic And International New Rail Projects & Tenders.
							We will help you: to find a Job;to find a Candidate;to find Domestic And International New Rail Projects & Tenders.
							We will help you: to find a Job;to find a Candidate;to find Domestic And International New Rail Projects & Tenders.
							We will help you: to find a Job;to find a Candidate;to find Domestic And International New Rail Projects & Tenders.
							We will help you: to find a Job;to find a Candidate;to find Domestic And International New Rail Projects & Tenders. </p>
							<button class="regbtnGen">Know More</button>
						</div>
						<div class="col-md-6 text-justify pull-right aboutmargins">
							<h2>About International Rail Jobs</h2>
							<p class="aboutsubpara">Rail Jobs Info is a recruitement specialist in railway industry for<br>finding suitable resources.</p>
							<p class="aboutsubpara">We will help you: to find a Job;to find a Candidate;to find Domestic And International New Rail Projects & Tenders.
							We will help you: to find a Job;to find a Candidate;to find Domestic And International New Rail Projects & Tenders.
							We will help you: to find a Job;to find a Candidate;to find Domestic And International New Rail Projects & Tenders.
							We will help you: to find a Job;to find a Candidate;to find Domestic And International New Rail Projects & Tenders.
							We will help you: to find a Job;to find a Candidate;to find Domestic And International New Rail Projects & Tenders.
							We will help you: to find a Job;to find a Candidate;to find Domestic And International New Rail Projects & Tenders. </p>
							<button class="regbtnGen">Know More</button>
						</div>
					</div>
				</div>
			</div>

		</div>	
	</div>