<div class="jumbotron banner" style="margin:0px;">
		<div class="row">
			<div class="col-md-1" style="float:left;"> 
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<img class="bannerimg" src="../../assets/images/railbanner.png">
						</div>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<img class="bannerimglabel" src="../../assets/images/RailJobs.png">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-11" style="float:right;">
				<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-right">
				    <div class="container-fluid">
					    <div class="navbar-header">
					      <button type="button" class="navbar-toggle bgcls" data-toggle="collapse" data-target="#navbarSupportedContent">
					        <span class="icon-bar bgclsrule"></span>
					        <span class="icon-bar bgclsrule"></span>
					        <span class="icon-bar bgclsrule"></span>                        
					      </button>
				    	</div>
					  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		      				<ul class="nav navbar-nav" id="navlistul">
							     <li>
							       <a href="#">Home <span class="sr-only">(current)</span></a>
							     </li>
							     <li>
							       <a href="#">About Us</a>
							     </li>
							     <li>
							     	<a href="#">Job Seeker</a>
							     </li>
							      <li>
							     	<a href="#">Recruiter</a>
							     </li>
							      <li>
							     	<a href="#">Training</a>
							     </li>
							      <li>
							     	<a href="#">Consultancy</a>
							     </li>
						    </ul>
						    <input class="btncls" type="button" value="Sign In">
					    </div>
					</div>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="container">
					<div class="row">
						<div class="col-md-12 headertxt">
							<h1>Rail Jobs Info</h1>
							<p class="headbannerparatxt">We help you to find a Job,to find a candidate,<br>to find domestic and International new rail projects and tenders</p>
							<input class="btncls" type="button" id="btnregister" value="Register">
						</div>
					</div>
					
				</div>
				
			</div>
		</div>
		<!-- <div class="row">
			<div class="col-md-12">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<i class="material-icons mousecls" >mouse</i>
						</div>
					</div>
				</div>
			</div>
		</div> -->
	</div>