<!-- Contact Us  -->
<div class="container-fluid" style="background-color: white;">
    <div class="row">
      <div class="col-md-12">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-12">
              <p class="genheadtext">Contact Us</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="container">
          <div class="row">
            <div class="col-md-6 aboutmargins1">
              <p class="contactpara">For information on employment,recruitement,<br>consultancy,training,general enquiry write to us.</p>
            </div>
            <div class="col-md-6 aboutmargins2">
              <p class="contactpara">If you would like Rail Jobs Info to contact you,<br>please fill out the form.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="container">
          <div class="row">
            <div class="col-md-6 aboutmargins1">
              <div class="container-fluid contactPara">
                <div class="row">
                  <div class="col-md-6">
                    <p>Employment</p>
                  </div>
                  <div class="col-md-6">
                    <p>applicant@railjobsinfo.com</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p>Recruitement</p>
                  </div>
                  <div class="col-md-6">
                    <p>client@railjobsinfo.com</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p>Consultancy</p>
                  </div>
                  <div class="col-md-6">
                    <p>consultancy@railjobsinfo.com</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p>Training</p>
                  </div>
                  <div class="col-md-6">
                    <p>training@railjobsinfo.com</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p>General Info</p>
                  </div>
                  <div class="col-md-6">
                    <p>info@railjobsinfo.com</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 pull-right aboutmargins2">
              <div class="container-fluid contactPara">
                <div class="row">
                  <div class="col-md-6">
                    <p>First Name</p>
                  </div>
                  <div class="col-md-6">
                    <input class="contactinputborder" type="text" name="" size="30">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p>Last Name</p>
                  </div>
                  <div class="col-md-6">
                    <input class="contactinputborder"  type="text" name="" size="30">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p>Email</p>
                  </div>
                  <div class="col-md-6">
                    <input class="contactinputborder"  type="text" name="" size="30">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p>Phone</p>
                  </div>
                  <div class="col-md-6">
                    <input class="contactinputborder"  type="text" name="" size="30">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p>How can we help you?</p>
                  </div>
                  <div class="col-md-6">
                    <input class="contactinputborder"  type="text" name="" size="30">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button class="regbtnGen contactSubmit pull-right">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>