            <nav class="navbar navbar-inverse navbar-right navbarcls" >
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle bgcls" data-toggle="collapse" data-target="#navbarSupportedContent">
                                <span class="icon-bar bgclsrule"></span>
                                <span class="icon-bar bgclsrule"></span>
                                <span class="icon-bar bgclsrule"></span>                        
                                </button>
                            </div>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="nav navbar-nav" id="navlistul">
                                        <!-- <li *ngFor="let element of navPills" (click)="loadPage(element)">
                                            <a href="#">{{element}} <span class="sr-only">(current)</span></a>
                                        </li> -->
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">AboutUs</a></li>
                                        <li><a href="#">Places</a></li>
                                        <li><a href="#">Hotels</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- <div class="container">
                <div class="row">
                       <div class="col-md-12">
                              <div *ngIf="pageName == 'home'">
                                  <app-header></app-header>
                              </div>
                              <div *ngIf="pageName == 'Places'">
                                  <app-body></app-body>
                              </div>
                              <div *ngIf="pageName == 'Locations'">
                                  <app-footer></app-footer>
                              </div>
                        </div>
                </div>
            </div> -->